/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

header {
    width: 100%;
    padding: 30px;
    background-color: darkblue;
    color: white;
}

.compname {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px;
    color: turquoise;
}

nav {
    display: inline-block;
    width: 67%;
    text-align: center;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 30px;
}

a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 30px;
    font-weight: bolder;
}

p {
    font-size: 30px;
}

main {
    width: 100%;
    height: 700px;
    padding: 2%;

}

article {
    display: inline-block;
    width: 59%;
    height: 90%;
    padding: 1%;
    vertical-align: top;
    color: black;
    border: 5px darkslateblue dashed;

}
aside {
    display: inline-block;
    height: 100%;
    width: 40%;
    text-align: center;
}
.imageaside {
    width: 100%;
    height: 90%;
    border: 5px darkslateblue solid;
}

footer {
    padding: 20px;
    background-color: grey;
    text-align: center;
}